In [231]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import matplotlib.dates as md

In [232]:
#base finale nettoyée

df_final_knn = pd.read_csv(r'C:\Users\TEMP.DESKTOP-LPHNPL7\PROJECT_NETFLIX\df_final_knn.csv')

In [233]:
df_final_knn.head()

,averageRating,numVotes,originalTitle,title,decade,action,adventure,animation,biography,comedy,...,Sidney Lumet,Stanley Kubrick,Stephen Frears,Steven Soderbergh,Steven Spielberg,Tim Burton,Tony Scott,Walter Hill,William Wyler,Woody Allen
0,8.1,59477.0,All Quiet on the Western Front,à l'ouest rien de nouveau,1930,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7.5,14217.0,Animal Crackers,"animal crackers, l'explorateur en folie",1930,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,7.7,14548.0,Der blaue Engel,l'ange bleu,1930,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7.2,12871.0,Little Caesar,le petit césar,1930,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7.3,13463.0,L'âge d'or,l'âge d'or,1930,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [250]:
#supprimer les colonnes inutiles

df_final_knn

,averageRating,numVotes,originalTitle,title,decade,action,adventure,animation,biography,comedy,...,Sidney Lumet,Stanley Kubrick,Stephen Frears,Steven Soderbergh,Steven Spielberg,Tim Burton,Tony Scott,Walter Hill,William Wyler,Woody Allen
0,8.1,59477.0,All Quiet on the Western Front,à l'ouest rien de nouveau,1930,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7.5,14217.0,Animal Crackers,"animal crackers, l'explorateur en folie",1930,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,7.7,14548.0,Der blaue Engel,l'ange bleu,1930,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7.2,12871.0,Little Caesar,le petit césar,1930,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7.3,13463.0,L'âge d'or,l'âge d'or,1930,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,7.6,29542.0,J'ai perdu mon corps,j'ai perdu mon corps,2010,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5874,6.4,7564.0,Isi & Ossi,isi & ossi,2020,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5875,8.0,11343.0,Metri Shesh Va Nim,la loi de téhéran,2010,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5876,6.8,5305.0,Sylvie's Love,pour l'amour de sylvie,2020,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5877,8.5,17687.0,Kaithi,kaithi,2010,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [235]:
df_final_knn = df_final_knn.drop(columns = ['nconst', 'category',
       'primaryName'])

In [236]:
from sklearn.neighbors import NearestNeighbors

In [237]:
X = df_final_knn[['averageRating', 'numVotes','decade', 'action', 'adventure', 'animation', 'biography', 'comedy',
       'crime', 'documentary', 'drama', 'family', 'fantasy', 'film-noir',
       'history', 'horror', 'music', 'musical', 'mystery', 'news', 'romance',
       'sci-fi', 'sport', 'thriller', 'war', 'western', 'Akira Kurosawa', 'Alfred Hitchcock', 'Billy Wilder',
       'Blake Edwards', 'Brian De Palma', 'Christopher Nolan',
       'Clint Eastwood', 'Danny Boyle', 'David Cronenberg', 'David Fincher',
       'David Lynch', 'Ethan Coen', 'Francis Ford Coppola', 'George Cukor',
       'Gus Van Sant', 'Guy Ritchie', 'Hayao Miyazaki', 'Howard Hawks',
       'Ingmar Bergman', 'Joel Coen', 'Joel Schumacher', 'John Carpenter',
       'John Ford', 'John Huston', 'John Landis', 'Lars von Trier',
       'Lasse Hallström', 'Luc Besson', 'Martin Scorsese', 'Michael Haneke',
       'Mike Nichols', 'Neil Jordan', 'Oliver Stone', 'Pedro Almodóvar',
       'Peter Jackson', 'Quentin Tarantino', 'Richard Donner',
       'Richard Linklater', 'Ridley Scott', 'Rob Reiner', 'Robert Rodriguez',
       'Robert Zemeckis', 'Roman Polanski', 'Ron Howard', 'Sam Raimi',
       'Sidney Lumet', 'Stanley Kubrick', 'Stephen Frears',
       'Steven Soderbergh', 'Steven Spielberg', 'Tim Burton', 'Tony Scott',
       'Walter Hill', 'William Wyler', 'Woody Allen']]

In [238]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X)

In [239]:
#créer X_scaled pour normaliser les valeurs numériques de la base

X_scaled = scaler.transform(X)

In [240]:
# Créer le df à utiliser pour la méthode model_film

df_scaled = pd.DataFrame(data = X_scaled, columns = X.columns, index = X.index)
df_scaled

,averageRating,numVotes,decade,action,adventure,animation,biography,comedy,crime,documentary,...,Sidney Lumet,Stanley Kubrick,Stephen Frears,Steven Soderbergh,Steven Spielberg,Tim Burton,Tony Scott,Walter Hill,William Wyler,Woody Allen
0,1.638671,-0.270317,-3.201738,-0.501169,-0.442641,-0.250857,-0.331819,-0.684397,-0.515215,-0.161824,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
1,0.539387,-0.510998,-3.201738,-0.501169,-0.442641,-0.250857,-0.331819,1.461141,-0.515215,-0.161824,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
2,0.905815,-0.509238,-3.201738,-0.501169,-0.442641,-0.250857,-0.331819,-0.684397,-0.515215,-0.161824,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
3,-0.010255,-0.518156,-3.201738,1.995334,-0.442641,-0.250857,-0.331819,-0.684397,1.940936,-0.161824,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
4,0.172959,-0.515008,-3.201738,-0.501169,-0.442641,-0.250857,-0.331819,1.461141,-0.515215,-0.161824,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,0.722601,-0.429504,0.843468,-0.501169,-0.442641,3.986327,-0.331819,-0.684397,-0.515215,-0.161824,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
5874,-1.475967,-0.546377,1.349119,-0.501169,-0.442641,-0.250857,-0.331819,1.461141,-0.515215,-0.161824,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
5875,1.455457,-0.526281,0.843468,1.995334,-0.442641,-0.250857,-0.331819,-0.684397,1.940936,-0.161824,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
5876,-0.743111,-0.558390,1.349119,-0.501169,-0.442641,-0.250857,-0.331819,-0.684397,-0.515215,-0.161824,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
5877,2.371527,-0.492545,0.843468,1.995334,-0.442641,-0.250857,-0.331819,-0.684397,1.940936,-0.161824,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946

In [241]:
#insérer le 'title' du df_final_knn au df_scaled

df_scaled.insert(0, column = 'title', value = df_final_knn['title'])

In [242]:
df_scaled.head()

,title,averageRating,numVotes,decade,action,adventure,animation,biography,comedy,crime,...,Sidney Lumet,Stanley Kubrick,Stephen Frears,Steven Soderbergh,Steven Spielberg,Tim Burton,Tony Scott,Walter Hill,William Wyler,Woody Allen
0,à l'ouest rien de nouveau,1.638671,-0.270317,-3.201738,-0.501169,-0.442641,-0.250857,-0.331819,-0.684397,-0.515215,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
1,"animal crackers, l'explorateur en folie",0.539387,-0.510998,-3.201738,-0.501169,-0.442641,-0.250857,-0.331819,1.461141,-0.515215,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
2,l'ange bleu,0.905815,-0.509238,-3.201738,-0.501169,-0.442641,-0.250857,-0.331819,-0.684397,-0.515215,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
3,le petit césar,-0.010255,-0.518156,-3.201738,1.995334,-0.442641,-0.250857,-0.331819,-0.684397,1.940936,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946
4,l'âge d'or,0.172959,-0.515008,-3.201738,-0.501169,-0.442641,-0.250857,-0.331819,1.461141,-0.515215,...,-0.045229,-0.045229,-0.045229,-0.055423,-0.071624,-0.050581,-0.045229,-0.0433,-0.048862,-0.056946

In [248]:
X.columns

Index(['averageRating', 'numVotes', 'decade', 'action', 'adventure',
       'animation', 'biography', 'comedy', 'crime', 'documentary', 'drama',
       'family', 'fantasy', 'film-noir', 'history', 'horror', 'music',
       'musical', 'mystery', 'news', 'romance', 'sci-fi', 'sport', 'thriller',
       'war', 'western', 'Akira Kurosawa', 'Alfred Hitchcock', 'Billy Wilder',
       'Blake Edwards', 'Brian De Palma', 'Christopher Nolan',
       'Clint Eastwood', 'Danny Boyle', 'David Cronenberg', 'David Fincher',
       'David Lynch', 'Ethan Coen', 'Francis Ford Coppola', 'George Cukor',
       'Gus Van Sant', 'Guy Ritchie', 'Hayao Miyazaki', 'Howard Hawks',
       'Ingmar Bergman', 'Joel Coen', 'Joel Schumacher', 'John Carpenter',
       'John Ford', 'John Huston', 'John Landis', 'Lars von Trier',
       'Lasse Hallström', 'Luc Besson', 'Martin Scorsese', 'Michael Haneke',
       'Mike Nichols', 'Neil Jordan', 'Oliver Stone', 'Pedro Almodóvar',
       'Peter Jackson', 'Quentin Tarantino', 'Richard Donner',
       'Richard Linklater', 'Ridley Scott', 'Rob Reiner', 'Robert Rodriguez',
       'Robert Zemeckis', 'Roman Polanski', 'Ron Howard', 'Sam Raimi',
       'Sidney Lumet', 'Stanley Kubrick', 'Stephen Frears',
       'Steven Soderbergh', 'Steven Spielberg', 'Tim Burton', 'Tony Scott',
       'Walter Hill', 'William Wyler', 'Woody Allen'],
      dtype='object')

In [335]:
df_final_knn[df_final_knn['title'] == 'le hobbit: un voyage inattendu'].loc[:, 'adventure':'western']

,adventure,animation,biography,comedy,crime,documentary,drama,family,fantasy,film-noir,...,music,musical,mystery,news,romance,sci-fi,sport,thriller,war,western
3684,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [313]:
weights = pd.Series(np.array([1.5, 1, 2.5, 2.5, 2.5,
       2.5, 2.5, 2.5, 2.5, 2.5, 2.5,
       2.5, 2.5, 2.5, 2.5, 2.5, 2.5,
       2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5,
       2.5, 2.5, 1, 1, 1,
       1, 1, 1,
       1, 1, 1, 1,
       1.5, 1.5, 1.5, 1.5,
       1.5, 1.5, 1.5, 1.5,
       1.5, 1.5, 1.5, 1.5,
       1.5, 1.5, 1.5, 1.5,
       1.5, 1.5, 1.5, 1.5,
       1.5, 1.5, 1.5, 1.5,
       1.5, 1.5, 1.5,
       1.5, 1.5, 1.5, 1.5,
       1.5, 1.5, 1.5, 1.5,
       1.5, 1.5, 1.5,
       1.5, 1.5, 1.5, 1.5,
       1.5, 1.5, 1.5]), index = X.columns)
weights.head(30)

averageRating       1.5
numVotes            1.0
decade              2.5
action              2.5
adventure           2.5
animation           2.5
biography           2.5
comedy              2.5
crime               2.5
documentary         2.5
drama               2.5
family              2.5
fantasy             2.5
film-noir           2.5
history             2.5
horror              2.5
music               2.5
musical             2.5
mystery             2.5
news                2.5
romance             2.5
sci-fi              2.5
sport               2.5
thriller            2.5
war                 2.5
western             2.5
Akira Kurosawa      1.0
Alfred Hitchcock    1.0
Billy Wilder        1.0
Blake Edwards       1.0
dtype: float64

In [332]:
weights['averageRating'] = 3
weights.head(30)

averageRating       3.0
numVotes            1.0
decade              2.5
action              2.5
adventure           2.5
animation           2.5
biography           2.5
comedy              2.5
crime               2.5
documentary         2.5
drama               2.5
family              2.5
fantasy             2.5
film-noir           2.5
history             2.5
horror              2.5
music               2.5
musical             2.5
mystery             2.5
news                2.5
romance             2.5
sci-fi              2.5
sport               2.5
thriller            2.5
war                 2.5
western             2.5
Akira Kurosawa      0.5
Alfred Hitchcock    0.5
Billy Wilder        0.5
Blake Edwards       0.5
dtype: float64

In [340]:
movie = input('Insere un film')
def recommandation2(movie):
    if df_scaled[df_scaled['title'].str.contains(movie)].shape[0] > 1:
        print("Plusieurs films contiennent ce nom, choisissez parmi l'un d'eux : ")
        return df_final_knn[df_final_knn['title'].str.contains(movie)]
    else:
        model_film = NearestNeighbors(metric = 'wminkowski', n_neighbors=10, metric_params = {"w": weights}).fit(X_scaled)
        index_reco = model_film.kneighbors(df_scaled.loc[df_scaled['title'].str.contains(movie), X.columns])
        recommended_movie = df_final_knn.iloc[df_final_knn.index.isin(index_reco[1][0][1:9])]
        return recommended_movie
recommandation2(movie)

Insere un film fury

Plusieurs films contiennent ce nom, choisissez parmi l'un d'eux :

,averageRating,numVotes,originalTitle,title,decade,action,adventure,animation,biography,comedy,...,Sidney Lumet,Stanley Kubrick,Stephen Frears,Steven Soderbergh,Steven Spielberg,Tim Burton,Tony Scott,Walter Hill,William Wyler,Woody Allen
1118,7.3,16598.0,Merry Christmas Mr. Lawrence,furyo,1980,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,8.1,930770.0,Mad Max: Fury Road,mad max: fury road,2010,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4937,7.6,451850.0,Fury,fury,2010,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0